@import url("http://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
  margin: 0;
  padding: 0;
}

.container-xl {
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
}

#servers {
  width: 98%;
  margin-left: 1%;
  margin-top: 30px;
}
.alert-danger {
  width: 98%;
  margin-left: 1%;
}

#row-header {
  background-color: #255373;
  width: 100%;
  padding: 6px;
  position: relative;
  color: #ffff;
  justify-content: space-between;
  display: flex;
}

#control-buttons {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  position: relative;
  float: right;
  right: 20px;
}

#control-buttons button,
a {
  width: 120px;
  height: 35px;
  margin-right: 10px;
}
#addingserverForm {
  margin-left: 10%;
  margin-right: 10%;
}
#addEmployeeModal {
  width: 100%;
}
.modal-dialog {
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  height: 403px;
}

.modal-body div {
  margin-top: 10px;
}
form {
  height: 403px;
  justify-items: space-between;
}

.modal-dialog button {
  width: 50px;
  margin-top: 20px;
}
